<!doctype html>
<html lang="en">
  <head>
    <title>{% block title %}{% endblock %}</title>
    
    {% include "html_head.html" %}

    {% block head %}
    
    {% endblock head %}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
       
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous">
    </script>

    
  </head>

  <body>

    {% include "navbar.html" %}

    <main role="main">
      {% block content %}

      {% endblock %}
    </main>

    {% include "footer.html" %}



  </body>
</html>
