<nav class="navbar navbar-expand-md navbar-dark"  style="background-color: #432C4C">
  <ul class="navbar-nav mr-auto">
    <li class="nav item{% if page and page.url == '/' %} active{% endif %}">    
      <a class="nav-link" href="/">Inicio</a>
    </li>
  </ul>
  <button class="navbar-toggler"
	  type="button" data-toggle="collapse"
	  data-target="#navbarCollapse"
	  aria-controls="navbarCollapse" aria-expanded="false"
	  aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  {% if DISPLAY_PAGES_ON_MENU %}
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      {% for p in pages %}
      <li class="nav item{% if p == page %} active{% endif %}">
	<a class="nav-link" href="{{ SITEURL }}{{ p.url }}">
	  {{ p.title }}
	  {% if p == page %}<span class="sr-only">(current)</span>{% endif %}
	</a>
      </li>
      {% endfor %}
    </ul>
  </div>
  {% endif %}


  <ul class="navbar-nav mr-auto">
    <li class="nav item">
      {% if page and page.english %}
      <a class="nav-link" href="{{ page.english }}">English</a>      
      {% else %}
      <a class="nav-link" href="https://en.umbela.org/">English</a>
      {% endif %}
    </li>
  </ul>
  
</nav>
