{% extends "base_alt.html" %}

{% block title %}{{ SITENAME }} - {{ page.title }}{% endblock%}

{% block head %}

{{ super() }}

<link rel="canonical" href="{{ SITEURL }}{{ page.url }}">
{% import 'translations.html' as translations with context %}
{% if translations.entry_hreflang(page) %}
{{ translations.entry_hreflang(page) }}
{% endif %}


{% endblock %}



{% block content %}

{% if not page.no_banner %}
<div class="jumbotron jumbotron-fluid"
     style="background-image: url('{{ page.title_image }}'); background-position: center; background-repeat: no-repeat; background-size: cover;">
  <div class="container-fluid">
    <h1 class="display-5">{{ page.subtitle }}</h1>
  </div>
</div>
{% endif %}


<div class="container" style="margin-top: 2em;">
{% import 'translations.html' as translations with context %}
{{ translations.translations_for(page) }}

  {{ page.content }}
</div>



{% if page.modified %}
<p>
  Last updated: {{ page.locale_modified }}
</p>
{% endif %}


{% endblock %}
