{% if DEFAULT_PAGINATION %}

<div class="container">
  <nav aria-label="Page navigation example">
    <ul class="pagination">
      {% if articles_page.has_previous() %}
      <li class="page-item">
	<a class="page-link" href="{{ SITEURL }}/{{ articles_previous_page.url }}" aria-label="Previous">
	  <span aria-hidden="true">&laquo;</span>
	</a>
      </li>
      {% endif %}

      <li class="page-item disabled">
	<a class="page-link" href="#" tabindex="-1" aria-disabled="true">
	  pag. {{ articles_page.number }} / {{ articles_paginator.num_pages }}
	</a>
      </li>

      {% if articles_page.has_next() %}
      <li class="page-item">
	<a class="page-link" href="{{ SITEURL }}/{{ articles_next_page.url }}" aria-label="Next">
	  <span aria-hidden="true">&raquo;</span>
	</a>
      </li>
      {% endif %}

    </ul>
  </nav>
</div>


{% endif %}
