{% extends "base_alt.html" %}

{% block html_lang %}{{ page.lang }}{% endblock %}

{% block title %}{{ SITENAME }} - {{ page.title }}{%endblock%}

{% block head %}
  {{ super() }}

  {% import 'translations.html' as translations with context %}
  {% if translations.entry_hreflang(page) %}
    {{ translations.entry_hreflang(page) }}
  {% endif %}
{% endblock %}



{% block content %}

<div class="container">
  <h2>{{ page.title }}</h2>
  <h3>{{ page.role }}</h3>
  <img src="{{ page.headshot }}" style="float: left; margin: 0 1.2em 1.2em 0; max-width: 33%; max-height: 100%;" />
  {{ page.content }}
</div>


{% import 'translations.html' as translations with context %}
{{ translations.translations_for(page) }}



{% endblock %}
