<p>
  "El mundo al revés nos enseña a padecer la realidad en lugar de
  cambiarla, a olvidar el pasado en lugar de escucharlo y a aceptar el
  futuro en lugar de imaginarlo. En la escuela son obligatorias las
  clases de impotencia, amnesia y resignación"
</p>
<em>Eduardo Galeano</em>
