{% extends "base_alt.html" %}

{% block html_lang %}{{ page.lang }}{% endblock %}

{% block title %}{{ SITENAME }} - {{ page.title }}{%endblock%}

{% block head %}
  {{ super() }}

  {% import 'translations.html' as translations with context %}
  {% if translations.entry_hreflang(page) %}
    {{ translations.entry_hreflang(page) }}
  {% endif %}
{% endblock %}



{% block content %}

<div class="jumbotron jumbotron-fluid"
     style="background-image: url('{{ page.title_image }}'); background-position: center; background-repeat: no-repeat; background-size: cover;">
  <div class="container-fluid d-md-block">
    <center>
    <div class="col-md-4 text-center">
      <img class="visible-xs" src="/theme/images/logo_inicio.png" alt="Umbela" width="100%" />            
    </div>
    </venter>
    <h1 style="margin-top: 1em;">      
      {{ page.subtitle }}
    </h1>
  </div>
</div>

<div class="container">
  {{ page.content }}

{% import 'translations.html' as translations with context %}
{{ translations.translations_for(page) }}



{% include "carrusel.html" with context %}

<br />

<center>

<a class="twitter-timeline" data-width="600" data-height="400" href="https://twitter.com/umbela_org?ref_src=twsrc%5Etfw">Tweets by umbela_org</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</center>

<br />

  <div class="container row mb-3">
    <img src="/theme/images/que_es_umbela.png" width="100%" style="margin-left:auto; margin-right:auto; display:block;">
  </div>

  
</div>

<br />

<br />


{% endblock %}

<br />


<br />

