{% macro translations_for(article) %}
{% if article.translations %}
<nav class="nav justify-content-end" id="translations">
  {% for translation in article.translations %}
  <a class="nav-link" href="{{ SITEURL }}/{{ translation.url }}" hreflang="{{ translation.lang }}">{{ translation.lang }}</a>
  {% endfor %}
</nav>
{% endif %}
{% endmacro %}

{% macro entry_hreflang(entry) %}
{% if entry.translations %}
  {% for translation in entry.translations %}
    <link rel="alternate" hreflang="{{ translation.lang }}" href="{{ SITEURL }}/{{ translation.url }}">
  {% endfor %}
{% endif %}
{% endmacro %}
